.login-container {
  background-color: grey;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  margin-top: 100px; /* Adjust as needed to move it lower */
}
.register-container {
  background-color: grey;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

input[type="tel"],
input[type="text"],
input[type="password"],
input[type="Email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #fff;
  color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  color: #fff;
}

[type="submit"] {
  left: 100px;
  right: inherit;
}
.error-message {
  color: red;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  margin-top: 250px;
}
